label {
    font-weight: bolder;
}

::placeholder {
    color: #212529 !important;
    opacity: 3;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  #212529 !important;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  #212529 !important;
    opacity:  3;
 }

 h1 {
     text-align: center;
 }

 #msg {
     height: 60px;
 }

 #grid-produtos tbody {
     cursor: pointer;
}
.btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.col1-container {
    margin: auto;
    display: flex;
}

.col1 {
    padding: 5px;
    display: flex;
    width: 100%;
}

#form-produto {
    width: 100%;
}
 
.col2 {
    padding: 5px;
}


  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 990px) {
    .col1 {
        width: 100%;
        position:initial;
        float: left;
        width: 100%;
        
        margin: 0 5px;

    }
    .col2 {
        width: 100%;
    }
}