label {
    font-weight: bolder;
}

::placeholder {
    color: #80c460 !important;
    opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  #80c460 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  #80c460 !important;
    opacity:  3;
 }
 h1 {
     text-align: center;
 }
 #msg {
     height: 60px;
 }
 #grid-produtos tbody {
     cursor: pointer;
 }