.titulo{
  background-color: #ffc107;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

.content-wrapper{
  padding: 0 30px;
}

.card {
  margin-bottom: 20px;
  height: 170px !important;
}